<h1>Bienvenido a mi chat.</h1>

<div>
    <input type="text" id="chatBox">
</div>

<div>
    <p id="messagesLogs">  </p>
    <p></p>
</div>

{{!-- sweet alert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"> </script>
<script src="js/main.js"></script>
